<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="jumbotron">
    <h1 class="display-3">Hola!</h1>
    <p class="lead">Esto es una sencilla aplicación que suma dos números.</p>
    <hr class="my-4">
    <p>Solo ingresa tus números en las casillas de abajo y oprime Sumar</p>
  </div>

  <form class="form-inline">
    <input type="number" class="form-control mb-2 mr-sm-2" id="n1" >
    <input type="number" class="form-control mb-2 mr-sm-2" id="n2" >  
    <button type="button" class="btn btn-primary mb-2" id="submit">Sumar</button>
    <br>
    <input class="form-control" type="text" id="out" readonly>  
  </form> 
  

</body>
</html>
